#root {
  max-width: 80rem;
  margin: auto;
  padding: 2rem 2rem 0 2rem;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.icons {
  display: inline;
  padding-right: 10px;
}

.contact {
  padding: 5% 2% 5% 2%;
  text-align: center;
}

.contact > p {
  margin: 5% 0 5% 0;
}

.pdfbuttons {
  padding: 5% 2% 5% 2%;
  text-align: center;
}

.pdfbuttons > * {
  margin: 2% 1% 2% 1%;
}

.naama {
  margin: auto;
}

img {
  width: 100%;
  height: auto;
  max-width: 256px;
}
.about {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.all-content {
  display: flex;
  padding-bottom: 30vh;
}

.intro-and-info {
  display: flex;
  flex-direction: column;
}

.intro-and-info > * {
  flex: 1;
}

.side {
  display: flex;
  flex-direction: column;
  flex-basis: 20vw;
  flex-shrink: 0;
  margin-left: 30px;
  margin-bottom: 30vh;
  gap: 50px;
}

.modebuttonbox {
  padding: 7% 2% 5% 2%;
  text-align: center;
}

.introduction {
  min-width: 50%;
  font-size: 18px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-box {
  flex: 0 0 22rem;
  padding: 2% 5% 0% 5%;

}

.info-box-hidden {
  visibility: hidden;
}

.introduction > p {
  background-color: rgb(56, 56, 56);
}