#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem 2rem 0 2rem;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.icons {
  padding-right: 10px;
}

.info{
  padding: 5% 2% 5% 2%;
  text-align: center;
}

.info > * {
  margin: 2% 0 2% 0;
}

.pdfbuttons {
  padding: 5% 2% 5% 2%;
  text-align: center;
}

.pdfbuttons > * {
  margin: 2% 1% 2% 1%;
}

.naama {
  margin: auto;
}

img {
  width: 100%;
  height: auto;
  max-width: 256px;
}
.about {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.IntroAndInfo {
  display: flex;
}

.NaamaAndInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 30vh;
  gap: 50px;

}

.introduction {
  flex-grow: 1;
  width: 50%;
  min-width: 50%;
}

.introduction > p {
  background-color: rgb(31, 30, 30);
}